body{
    margin: 0px;
    padding :0px;
    box-sizing: border-box;
    font-family:fantasy;
}
.banner{
    background-image:url("/images/flower_branch.jpg"),linear-gradient(rgb(16, 231, 220, 1),rgb(9, 136, 129,1),rgb(8, 120, 114,1),rgb(16, 231, 220, 1));
    /* background-image:url("/images/flower_branch.jpg"),linear-gradient(); */
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/* 
.banner-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
} */

.banner-content h1{
    font-size: 5vw;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* font-weight: bold; */
}
.banner-content{
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

